<%= render 'nav' %>

<main class="container-fluid">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="center-block">
      <div class="container" style="width:400px; margin:0 auto;">
        <div class="card" style="width:400px; margin:0 auto;">
          <img class="card-img-top" src="<%= image_url '0.png' %>" alt="Card image" style="width:100%">
          <div class="card-body" style="text-align: center;">
            <h4 class="card-title" style="text-align: center;">下单成功!</h4>

            <a href="/" class="btn btn-success" style="text-align: center;">继续购物</a>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>

</main>

